@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

body {
    background: var(--main);
    font-family: "Rubik", Roboto, Sans-serif;
    font-size: 16px;
    overflow-x: hidden; //скроем от анимаций. 
    padding: 0;
    margin: 0;
    color: var(--sea);
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

img {
    max-width: 100%;
    height: auto;
}

input, button {
    border: none;
    background: none;
    outline: none;
    color: var(--white);
    font-size: 16px;
    font-family: "Rubik", Roboto, Sans-serif;
}



a {
    color: var(--white);
    text-decoration: none;
}
p, h1, h2, h3 {
    padding: 0;
    margin: 0;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}




@import 'blocks/colors';
@import 'blocks/buttons';
@import 'blocks/title';
@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/about';
@import 'blocks/gallery';
@import 'blocks/versions';
@import 'blocks/headphones';
@import 'blocks/trailer';
@import 'blocks/requiremenets';
@import 'blocks/faq';
@import 'blocks/footer';
@import 'blocks/overlay';
@import 'blocks/media';



