.button {
    width: 96px;
    height: 30px;
    border-radius: 6px;
    background: linear-gradient(135deg, #8856d9, #412771);
    text-transform: uppercase;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    &:hover {
        box-shadow: 0 4px 8px rgba(136, 86, 217, 0.3);
        transform: translateY(-2px);
    }
    &__main {
        width: 145px;
        height: 42px;
    }
    &__transparent {
        background: transparent;
        border: 1px solid var(--white);
        &:hover {
            box-shadow: 0 4px 8px rgba(136, 86, 217, 0.3);
        }
    }
    &__editions {
        font-size: 13px;
    }
    &__headphones {
        background: linear-gradient(135deg, #ff4136, #810700);
        width: 274px;
        height: 46px;
        &:hover {
            box-shadow: 0 4px 8px rgba(255, 65, 54, 0.3);
        }
    }
    &__orange {
        background: linear-gradient(135deg, #ff4136, #810700);
        &:hover {
            box-shadow: 0 4px 8px rgba(255, 65, 54, 0.3);
        }

    }
    &__explore {
        margin-top: 35px;
        font-size: 13px;
        font-size: 16px;
    }
    
}