:root {
/*colors*/
    --main: #1c2023;
    --dark:#30373f;
    --violet: #8856d9;
    --sea: #a9c7c7;
    --grey: #8c96a0;
    --orange: #ff4136;
    --white: #fff;
    --black: #000;
    --crab: #e32572;
    --coyote: #db9a6a;
}

.primary-color {
    color: var(--crab);
}

.secondary-color {
    color: var(--coyote);
}

.third-color {
    color: var(--white);
}