.editions {
    padding-top: 3.5rem;
    &__wrapper {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: minmax(460px, auto);
        gap: 16px;
        grid-auto-columns: 350px;
        grid-auto-rows: minmax(460px, auto);
        margin-top: 32px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: linear-gradient(180deg, #141615 0%, #1C2023 100%);
        border-radius: 6px;
        padding: 17px;
        transition: 0.5s all;
        &:hover {
            transform: scale(1.05);
            box-shadow: 1px 1px 20px var(--violet);

        }
        img {
            object-fit: cover;
            height: 173px;
            border-radius: 6px;
            width: 100%;
        }
    }
    &__title {
        color: var(--white);
        font-weight: 700;
        text-align: center;
        margin-top: 20px;
    }
    &__subtitle {
        text-transform: uppercase;
        text-align: center;
    }
    &__descr {
        color: var(--grey);
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    &__price {
        color: var(--white);
        font-size: 19px;
        font-weight: 700;
    }
}



