.faq {
    padding-top: 105px;
    &__list {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid var(--dark);
        padding: 10px 6px 6px;
        cursor: pointer;
        &.opened {
            .faq__button {
                &::before {
                    transform: rotate(45deg);
                }
            }
        }
    }
    &__question {
        font-size: 17px;
        font-weight: 600;
        color: var(--white);
    }
    &__answer {
        font-size: 14px;
        max-height: 0;
        opacity: 0;
        transition: all .8s ease-out;
        padding-top: 0;
        will-change: max-height;
        overflow: hidden;
        box-sizing: content-box;
        &.opened {
            max-height: 200px;
            opacity: 1;
            padding-top: 13px;
        }
    }
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 6px;
        cursor: pointer;
        &:hover {
            &:before {
                color: var(--white);
            }
        } 
        &::before {
            content: '+';
            font-size: 32px;
            color: var(--crab);
            transition: all .8s ease-out;
        }
    }
}