.faq {
    padding-top: 6.7rem;
    &__wrapper {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid var(--violet);
        padding: 10px 6px 6px;
        cursor: pointer;
        &.opened {
            .faq__button {
                &::before {
                    transform: rotate(45deg);
                }
            }
        }
    }
    &__question {
        font-size: 17px;
        font-weight: 600;
        color: var(--white);
    }
    &__answer {
        font-size: 14px;
        max-height: 0;
        opacity: 0;
        transition: all .8s ease-out;
        padding-top: 0;
        will-change: max-height;
        overflow: hidden;
        box-sizing: content-box;
        &.opened {
            max-height: 200px;
            opacity: 1;
            padding-top: 13px;
        }
    }
    /*&__button {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 6px;
        background: linear-gradient(135deg, #8c96a0, #3b4f4a);
        position: relative;
        cursor: pointer;
        &::before,
        &::after  {
            content: '';
            width: 14px;
            height: 2px;
            background-color: var(--white);
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: transform 0.8s ease;

        }
        &::before {
            top: 15px;
            
        }
        &::after {
            bottom: 13px;
            transform: translate(-50%, -50%) rotate(90deg);
            
        }
        &-active {
            &::before {
                transform: translateX(-50%) rotate(-45deg);
            }
            &::after {
                transform: translateX(-50%) rotate(45deg);
            }
        }
    }*/
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 6px;
        background: linear-gradient(135deg, #8c96a0, #3b4f4a);
        cursor: pointer; 
        &::before {
            content: '+';
            font-size: 27px;
            color: var(--white);
            transition: all .8s ease-out;

        }
        /*&-active {
            &::before {
                transform: rotate(45deg);
            }
            
        }*/
    }
}