.headphones {
    padding-top: 3.5rem;
    &__wrapper {
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        gap: 150px;
    }
    &__content {
        flex-basis: 425px;
        padding-top: 2.3rem;
        font-size: 18px;
    }
    p + p {
        margin-top: 22px;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
    }
    &__price {
        font-weight: 700;
        font-size: 30px;
        color: var(--white);
    }
    &__images {
        &-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        position: relative;
        width: 340px;
        height: 300px;
        &::before {
            content: '';
            display: block;
            width: 195px;
            height: 119px;
            background: rgba(79, 96, 152, 0.8);
            filter: blur(75px); //заблюриваем квадратик
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        img {
            height: 100%;
            object-fit: cover;
            animation: gravitation 1.5s linear infinite alternate;
        }
    }
    &__image {
        display: none;
        &.active {
            display: block;
        }
    }
}

.choose {
    &__color {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        &-list {
            display: flex;
            gap: 5px;
        }
        &-text {
            color: var(--white);
            font-weight: 500;
        }
        &-btn {
            width: 20px;
            height: 20px;
            background-color: var(--orange);
            cursor: pointer;
            &:focus {
                outline: 1px solid var(--white);
                width: 22px;
            }
            &:nth-of-type(2) {
                background-color: var(--violet);
                &:focus {
                    background-color: #9c60ff;
                }
            }
            &:nth-of-type(3) {
                background-color: var(--black);
            }
        }
    }
}




@keyframes gravitation {
    0% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}