.header {
    position: fixed;
    z-index: 5;
    top: 0px;
    right: 0;
    left: 0;
    padding: 25px 0;
    transition: padding .7s ease;
    &.opened { //когда у хедера будет класс opened: 
        .header__btn {
            &::before,
            &::after {
                width: 50%;
            }
            span {
                width: 100%;
            }
        }
        .nav {
            opacity: 1;
            transform: translateX(0);
            transition: opacity 1s, transform 1s;
        }
    }
    &.mini {
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
    }
    &__btn {
        position: absolute;
        left: 95px;
        top: 28px;
        z-index: 10;
        display: inline-block;
        width: 25px;
        height: 16px;
        cursor: pointer;
        span {
            display: block;
            width: 50%;
            background-color: var(--white);
            height: 1px;
            margin-top: 8px;
            transition: width .8s ease;
        }
        &::before,
        &::after {
            content: '';
            background-color: var(--white);
            height: 1px;
            width: 100%;
            position: absolute;
            transition: width .8s ease;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
    }
}

.nav {
    transform: translateX(-200%);
    opacity: 0;
    transition: transform 1s ease;
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 35px;
        font-size: 14px;
        padding-left: 100px;
    }
    &__link {
        text-transform: uppercase;
        transition: color 0.3s ease;
        position: relative; //for before and after.
        &:hover {
            text-decoration: none;
            color: var(--sea);
        }
    
        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            bottom: -3px;
            background-color: var(--sea);
            transition: width 0.6s ease;
        }
    
        &::before {
            left: 50%;
            transform-origin: right;
        }
    
        &::after {
            right: 50%; 
            transform-origin: left;
        }
    
        &:hover::before,
        &:hover::after {
            width: 50%;
        }
        &-active {
            color: var(--coyote);
        }
    }
}

