.header {
    position: fixed;
    z-index: 5;
    top: 0px;
    right: 0;
    left: 0;
    &.opened { //когда у хедера будет класс opened: 
        .header__wrapper-btn {
            &::before,
            &::after {
                width: 50%;
            }
            span {
                width: 100%;
            }
        }
        .nav {
            opacity: 1;
            transform: translateX(0);
            transition: opacity 1s, transform 1s;
        }
    }
    &__wrapper {
        display: flex;
        padding: 45px 0;
        transition: padding .7s ease;
        &-btn {
            position: relative;
            display: inline-block;
            width: 25px;
            height: 16px;
            cursor: pointer;
            span {
                display: block;
                width: 50%;
                background-color: var(--white);
                height: 1px;
                margin-top: 8px;
                transition: width .8s ease;
            }
            &::before,
            &::after {
                content: '';
                background-color: var(--white);
                height: 1px;
                width: 100%;
                position: absolute;
                transition: width .8s ease;
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
        }
    }
}

.nav {
    transform: translateX(-200%);
    opacity: 0;
    transition: transform 1s ease;
    &__list {
        display: flex;
        justify-content: space-between;
        gap: 35px;
        font-size: 14px;
        margin-left: 100px;
    }
    &__link {
        text-transform: uppercase;
        transition: color 0.3s ease;
        position: relative; //for before and after.
        &:hover {
            text-decoration: none;
            color: var(--sea);
        }
    
        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            bottom: -3px;
            background-color: var(--sea);
            transition: width 0.6s ease;
        }
    
        &::before {
            left: 50%;
            transform-origin: right;
        }
    
        &::after {
            right: 50%; 
            transform-origin: left;
        }
    
        &:hover::before,
        &:hover::after {
            width: 50%;
        }
        &-active {
            color: var(--violet);
        }
        &-lang {
            display: flex;
            gap: 10px;
            align-items: center;
            cursor: pointer;
            &:hover {
                +.nav__languages { //при наведении на lang у nav__languages появляется класс block. + (соседний элемент). 
                    display: block;
                }
                svg {
                    transition: .7s ease;
                    transform: rotate(180deg);
                }
            }

            &:hover::after,
            &:hover::before  { //уберем свойства у последнего элемента
                width: 0;
            }

            svg {
                fill: var(--white);
            }
        }
    }
    &__languages {
       display: none;
       padding: 10px 15px;
       background: var(--dark);
       border-radius: 6px;
       position: absolute;
       top: 100%;
       &:hover {
        display: block;
       }
    }
    &__language {
        + .nav__language {
            margin-top: 8px; //отступ для второго элемента
        } 
        font-weight: 500;
        font-size: 14px;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.5);
        &:hover {
            color: var(--violet);
        };
        
    }
}


.mini {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    .header__wrapper {
        padding: 20px 0;
        
    }
}