.versions {
    padding-top: 3.5rem;
    &__wrapper {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: minmax(440px, auto);
        gap: 16px;
        grid-auto-columns: 350px;
        grid-auto-rows: minmax(460px, auto);
        margin-top: 32px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 6px;
        background: linear-gradient(180deg, #141615 0, #1c2023 100%); 
        padding: 20px;
        overflow: hidden;
        transition: 0.5s all;
        &:hover {
            transform: scale(1.05);
            box-shadow: 1px 1px 8px var(--grey);
        }
        &-wrapper {
            display: flex;
            width: calc(200% + 40px);
            gap: 40px;
        }
        &-content {
            position: relative;
            padding-right: 22px;
            transform: translateX(-100%);
            transition: 0.5s all;
            &.active {
                transform: translateX(0%);
            }
        }
        &-footer {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            &::before {
                content: '';
                position: absolute;
                height: 1px;
                width: 100%;
                background-color: var(--dark);
                top: -6px;
            }
        }
        &__old-price {
            color: var(--grey);
            font-size: 15px;
            text-decoration: line-through;
        }
        &-price {
            color: var(--white);
            font-size: 19px;
            font-weight: 700;
        }

    }
    &__image {
        width: 310px;
        height: 200px;
        border-radius: 6px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
    }
    &__version {
        color: var(--white);
        font-weight: 700;
        text-align: center;
        margin-top: 20px;
    }
    &__platform {
        text-align: center;
        text-transform: uppercase;
    }
    &__list {
        position: relative;
        width: 50%;
        transform: translateX(0px);
        transition: 0.5s all;
        &.active {
            transform: translateX(-360px);
        }
        li {
            position: relative;
            font-size: 14px;
            font-weight: 300; 
            margin-bottom: 15px;
            &:before {
                content: '';
                position: absolute;
                width: 5px;
                height: 5px;
                left: -14px;
                top: 7px;
                border-radius: 50%;
                background-color: var(--orange);
            }
        }
    }
    &__button {
        font-size: 14px;
        &-info,
        &-back {
            position: absolute;
            bottom: -45px;
            left: 50%;
            transform: translate(-50%);
            display: block;
            font-size: 14px;
            text-transform: uppercase;  
            color: var(--crab);
            cursor: pointer;
            &:focus {
                outline: none;
            }
            &:hover {
                text-decoration: underline;
            }

        }
    }
   
}